<link rel="stylesheet" href="{{ request.url_for('static', path='vendor/ag-grid-community/ag-grid.min.css') }}" />
<link rel="stylesheet" href="{{ request.url_for('static', path='vendor/ag-grid-community/ag-theme-quartz-no-font.min.css') }}" />
<link rel="stylesheet" href="{{ request.url_for('static', path='staff/ag-grid-theme.css') }}" />
<script src="{{ request.url_for('static', path='vendor/ag-grid-community/ag-grid-community.min.noStyle.js') }}"></script>
<script src="{{ request.url_for('static', path='staff/ag-grid-bootstrap.js') }}"></script>
